* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(235, 231, 231);
}

header {
  background-color: aquamarine;
  text-align: center;
  height: 200px;
}

h1 {
  font-size: 2.5em;
  padding-top: 75px;
}

.user-input {
  text-align: center;
}

.wrapper {
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 50px;
}
.container {
  width: 90%;
  margin-left: 10px;
  margin-right: 10px;
}
input {
  font-size: 2.5em;
  height: 100px;
  display: inline-block;
  width: 80%;
  border: solid black 2px;
  border-radius: 10px;
}

button {
  font-size: 2rem;
  display: inline-block;
  margin-top: 10px;
  border-radius: 50px;
  padding: 10px;
  border: solid black 2px;
}

li {
  font-size: 2em;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
}

li:nth-child(odd) {
  background-color: rgba(187, 199, 199, 0.466);
}

ul {
  text-align: center;
}
